{% extends 'base.html' %}

{% block title %}Enrolment Application | DMASL{% endblock %}

{% block style %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/style/pdf_css.css' %}">
{% endblock %}

{% block current_page %}Print{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">
        <h4 class="col s12 m12 l12 center-align enrl-txt" style="margin-top: 20px; padding: 0px;">Enrolment application</h4>

        <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

        <div class="col l12" style="border: 2px solid #333; margin-bottom: 20px; margin-top: 40px; padding: 20px;">
          {{ form | crispy_forms}}
        </div>
    </div>
