{% extends 'base.html' %}

{% block title %}Enrolment Application | DMASL{% endblock %}

{% block current_page %}Form 2 of 4{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">
        <h4 class="col s12 m12 l12 center-align" style="margin-top: 20px; padding: 0px;">Enrolment application</h4>

        <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

        <div class="col l12 grey white-text" style="margin-top: 40px; padding: 20px;">
            <h5>Enrolment Guide</h5>

            <p>
                <span style="font-weight: bold;">Names: </span> Ensure that the name inputted is the name that you will use on your claim forms.
            </p>

            <p>
                <span style="font-weight: bold;">ID Number: </span> This is the identification number you will use on your claim forms.
            </p>
        </div>


        <div class="col l10 offset-l1" style="border: 2px solid #333; margin-bottom: 20px; margin-top: 40px; padding: 20px;">
            <form method="post">
                {% csrf_token %}

                <h5 class="col l12 center-align" style="text-decoration: underline;">Your Information</h5>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 20px;">
                    Covered Class : {{ org.org_short_name | upper }} - {{ org.org_full_name | title }}
                </p>

                <p class="col l12" style="margin-bottom: 20px; margin-top: 5px;">
                    ID Number : {{ request.user.username }}
                </p>

                <div class="input-field col l12">
                    {{ form.first_name }}
                    <label for="id_first_name">First name</label>
                </div>

                <div class="input-field col l6">
                    {{ form.middle_name }}
                    <label for="id_middle_name">Middle name</label>
                </div>

                <div class="input-field col l6">
                    {{ form.last_name }}
                    <label for="id_last_name">Last name</label>
                </div>

                <div class="input-field col l12">
                    {{ form.birthdate }}
                    <label for="id_birthdate">Birthdate</label>
                </div>

                <div class="input-field col l12" style="margin-top: 40px;">
                    {{ form.gender }}
                    <label>Select Gender</label>
                </div>


                <div class="col l12" style="padding: 0px; margin-top: 30px;">
                    <a href="{% url 'home:enrolment-form1' %}" class="btn waves-effect waves-light" style="">Back
                    </a>

                    <button type="submit" name="next" value="next" class="btn waves-effect waves-light black" style="">Next
                    </button>

                    <a href="{% url 'home:logout' %}" class="btn waves-effect waves-light red" style="">Logout
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



{% block script %}
    <script>
        $(document).ready(function(){

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                yearRange: 100
            });
        });


        $(document).ready(function(){
            $('select').formSelect();
         });

    </script>
{% endblock %}













