{% extends 'base.html' %}
{% load humanize %}
{% block title %}Enrolment Application | DMASL{% endblock %}

{% block current_page %}INFORMATION SUMMARY{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">
        <h4 class="col s12 m12 l12 center-align" style="margin-top: 20px; padding: 0px;">Annual Benefits Enrolment</h4>

        <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>


        <div class="col l10 offset-l1" style="border: 2px solid #333; margin-bottom: 20px; margin-top: 40px; padding: 20px;">

            <form method="post">
                {% csrf_token %}

                <h5 class="col l12 center-align" style="text-decoration: underline;">Information Summary</h5>
              <!--   <h5 class="col l12 center-align" style="">{{ org.org_short_name | upper }} - {{ org.org_full_name | title }}</h5> -->
              <!--   <h5 class="col l12 center-align" style="">Employee Information</h5> -->

                <p class="col l12" style="margin-bottom: 5px; margin-top: 30px;">
                    Name :
                    {% if request.user.last_name %}
                        {{ request.user.last_name | title }},
                    {% endif %}

                    {% if request.user.first_name %}
                        {{ request.user.first_name | title }}
                    {% endif %}

                    {% if request.user.middle_name %}
                        {{ request.user.middle_name | title }}
                    {% endif %}
                </p>



                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    ID Number : {{ request.user.username }}
                </p>

                {% if org.salary_adjustment %}
                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    Job Rate = {{ request.user.salary_base |floatformat:2|intcomma }}
                </p>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    Taxable Earnings = {{ request.user.salary_adjusted |floatformat:2|intcomma }}
                </p>
                {% endif %}

                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    Total Benefit Credits = {{ request.user.hsa_annual_credits |floatformat:2|intcomma }}
                </p>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    HSA Selected = {{ request.user.hsa_optional|floatformat:2|intcomma }}
                </p>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    Benefit Credits Remaining = {{ hsa_remaining |floatformat:2|intcomma}}
                </p>

                {% if request.user.opt_out_bool %}
                    <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                        Benefit Credits Opted Out
                    </p>

                {% endif %}


                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;"><span>{{ org.text_block_1 }}</span></p>




                <div class="col l12" style="padding: 0px; margin-top: 30px;">
                    <a href="{% url 'home:enrolment-form2' %}" class="btn waves-effect waves-light" style="background-color: #002d62;">Back
                    </a>

                    <button type="submit" name="next" value="next" class="btn waves-effect waves-light" style="background-color: #002d62;">Submit
                    </button>

                    <!-- <a href="{% url 'home:logout' %}?from=client&org={{ org.org_short_name }}" class="btn waves-effect waves-light" style="background-color: #002d62;">Logout
                    </a> -->
                </div>
            </form>
        </div>


    </div>
{% endblock %}



{% block script %}

{% endblock %}
