{% extends 'base.html' %}
{% load humanize %}
{% block title %}Enrolment Application | DMASL{% endblock %}

{% block current_page %}{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">
        <h4 class="col s12 m12 l12 center-align" style="margin-top: 20px; padding: 0px;">Annual Benefits Enrolment</h4>

        <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>


        <div class="col l10 offset-l1" style="border: 2px solid #333; margin-bottom: 20px; margin-top: 40px; padding: 20px;">
            <form method="post">
                {% csrf_token %}

                <h5 class="col l12 center-align" style="text-decoration: underline;">Your Information</h5>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 20px;">
                    Employer : {{ org.org_full_name | title }}
                </p>

                <p class="col l12" style="margin-bottom: 5px; margin-top: 5px;">
                    ID Number : {{ request.user.username }}
                </p>

                <p class="col l12" style="margin-bottom: 20px; margin-top: 5px;">
                    Name :
                    {% if request.user.last_name %}
                        {{ request.user.last_name | title }},
                    {% endif %}

                    {% if request.user.first_name %}
                        {{ request.user.first_name | title }}
                    {% endif %}

                    {% if request.user.middle_name %}
                        {{ request.user.middle_name | title }}
                    {% endif %}
                </p>

                <div class="input-field col l12">
                    {{ form.email }}
                    <label for="id_email">Email Address (optional)</label>
                </div>


                <h5 class="col l12 center-align" style="text-decoration: underline;">Health Spending Account</h5>

                {% if org.salary_adjustment and org.insufficient_benefit_credits %}
                    <p class="col l12" style="margin-bottom: 5px; margin-top: 20px;">
                        Job Rate : {{ request.user.salary_base |floatformat:2|intcomma }}
                    </p>
                {% endif %}

                {% if org.salary_adjustment and not org.insufficient_benefit_credits %}
                    <p class="col l12" style="margin-bottom: 5px; margin-top: 20px;">
                        Job Rate : {{ request.user.salary_base |floatformat:2|intcomma }}
                    </p>
                {% endif %}

                <p class="col l12" style="margin-top: 5px; margin-bottom: 20px;">
                    Total Benefit Credits : {{ request.user.hsa_annual_credits |floatformat:2|intcomma }}
                </p>

                <div class="input-field col l12">
                    {{ form.hsa_optional }}
                    <label for="id_hsa_optional">Health Spending Account Selection</label>
                </div>


                <div class="col s12 m112 l4">
                    <p class="" style="margin-top: 5px; margin-bottom: 20px;">
                        HSA Selected : <span class="hsa_selected_current">{{ request.user.hsa_optional|floatformat:2|intcomma }}</span>
                    </p>
                </div>

                <div class="col s12 m112 l4">
                    <p class="" style="margin-top: 5px; margin-bottom: 20px;">
                        Benefit Credits Remaining : <span class="benefit_credit_remaining">{{ request.user.hsa_remaining|floatformat:2|intcomma }}</span>
                    </p>
                </div>

                {% if org.salary_adjustment and org.insufficient_benefit_credits %}
                    <div class="col s12 m112 l4">
                        <p class="" style="margin-top: 5px; margin-bottom: 20px;">
                            Taxable Earning : <span class="adjsuted_base_salary">{{ request.user.salary_adjusted|floatformat:2|intcomma }}</span>
                        </p>
                    </div>
                {% endif %}

                {% if org.salary_adjustment and not org.insufficient_benefit_credits %}
                    <div class="col s12 m112 l4">
                        <p class="" style="margin-top: 5px; margin-bottom: 20px;">
                            Taxable Earnings : <span class="adjsuted_base_salary">{{ request.user.salary_adjusted|floatformat:2|intcomma }}</span>
                        </p>
                    </div>
                {% endif %}

                {% if org.salary_adjustment and org.insufficient_benefit_credits %}
                    <p class="col l12">
                      <label>
                          {% if request.user.opt_out_bool %}
                            <input name="chk" checked type="checkbox" />
                          {% else %}
                            <input name="chk" type="checkbox" />
                          {% endif %}
                          <span>Select the checkbox if benefit credits provided are insufficient to fund medical/dental expenses that are not covered by the base plan. Human Resources will contact you regarding your HSA selection.</span>
                      </label>
                    </p>
                {% endif %}

                {% if org.insufficient_benefit_credits and not org.salary_adjustment %}
                    <p class="col l12">
                      <label>
                          {% if request.user.opt_out_bool %}
                            <input name="chk" checked type="checkbox" />
                          {% else %}
                            <input name="chk" type="checkbox" />
                          {% endif %}
                          <span>Select the checkbox if benefit credits provided are insufficient to fund medical/dental expenses that are not covered by the base plan. Human Resources will contact you regarding your HSA selection.</span>
                      </label>
                    </p>
                {% endif %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="col l12 valign-wrapper" style="margin-top: 20px;">
                            <p class="red-text" style="font-size: 16px;">
                                ** {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if err_msg %}
                    <p class="col l12 red-text" style="margin-top: 20px">** {{ err_msg }}</p>
                {% endif %}

                <!-- Submit Button -->
                <div class="col l12" style="padding: 0px; margin-top: 30px;">
                    <button type="submit" name="next" value="next" class="btn waves-effect waves-light" style="background-color: #002d62;">Next
                    </button>

                  <!-- Logout Button -->
                  <!--  <a href="{% url 'home:logout' %}?from=client&org={{ org.org_short_name }}" class="btn waves-effect waves-light" style="background-color: #002d62;">Logout
                    </a> -->
                </div>
            </form>

        </div>


    </div>
{% endblock %}



{% block script %}

    <script>
        $(document).ready(function(){

            $('.datepicker').datepicker({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                format: 'yyyy-mm-dd',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        });

        // $(document).ready(function(){
        //     $('select').formSelect();
        //  });

         // $('input[name="chk"]').change(function(){
         //    if($('input[name="chk"]').is(':checked'))
         //    {
         //        $('input[name=hsa_optional]').prop('disabled', true);
         //        $('input[name="hsa_optional"]').val(0);
         //    }else
         //    {
         //        $('input[name=hsa_optional]').prop('disabled', false);
         //    }
         //
         // });
         //
         //
         // $(document).ready(function(){
         //    if($('input[name="chk"]').is(':checked'))
         //    {
         //        $('input[name=hsa_optional]').prop('disabled', true);
         //        $('input[name="hsa_optional"]').val(0);
         //    }else
         //    {
         //        $('input[name=hsa_optional]').prop('disabled', false);
         //    }
         //
         // });



// javascript function value change

        var countDecimals = function (value) {
            if ((value % 1) != 0)
                return value.toString().split(".")[1].length;
            return 0;
        };

        $('input[name="hsa_optional"]').change(function(){
            var total_hsa_credits_db = {{ usr.hsa_annual_credits }};
            var hsa_optional = $('input[name="hsa_optional"]').val();
            var benefit_credit_remaining = total_hsa_credits_db - hsa_optional;
            var adjusted_base_salary_db = ({{ usr.salary_base }});
            var adjusted_base_salary_calculate = adjusted_base_salary_db - hsa_optional;

            // .replace(/\B(?=(\d{3})+(?!\d))/g, ",");

            if (isNaN(hsa_optional) || hsa_optional<0 || countDecimals(hsa_optional)>2) {
              alert("Please enter a proper HSA amount!");
              hsa_optional = parseFloat(0).toFixed(2);
              $('input[name="hsa_optional"]').val(hsa_optional);
              $('.benefit_credit_remaining').html(parseFloat(total_hsa_credits_db).toFixed(2));
              $('.adjsuted_base_salary').html(parseFloat(adjusted_base_salary_db).toFixed(2));
            }
            else {

              if(benefit_credit_remaining < 0){
                  alert("You do not have enough HSA Benefit Credits to continue!");
                  hsa_optional = parseFloat(0).toFixed(2);
                  $('input[name="hsa_optional"]').val(hsa_optional);
                  $('.benefit_credit_remaining').html(parseFloat(total_hsa_credits_db).toFixed(2));
                  $('.adjsuted_base_salary').html(parseFloat(adjusted_base_salary_db).toFixed(2));
              }
              else {
                  hsa_optional = parseFloat(hsa_optional).toFixed(2);
                  $('.hsa_selected_current').html(hsa_optional);
                  $('.benefit_credit_remaining').html(parseFloat(benefit_credit_remaining).toFixed(2));
                  $('.adjsuted_base_salary').html(parseFloat(adjusted_base_salary_calculate).toFixed(2));
              }
            }
       });

    </script>
{% endblock %}
