{% extends 'base.html' %}

{% block title %}Enrolment Application | DMASL{% endblock %}

{% block current_page %}Form 3 of 4{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">
        <h4 class="col s12 m12 l12 center-align" style="margin-top: 20px; padding: 0px;">Enrolment application</h4>

        <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

        <div class="col l12 grey white-text" style="margin-top: 40px; padding: 20px;">
            <h5>Enrolment Guide</h5>

            <p>
                Your Health Spending Account will cover most Medical and Dental expenses that are not covered by the base extended health care and dental care plans.
            </p>

            <p>
                To view which medical expenses are eligible for reimbursment under the Health Care spending account in accordance with Canada Revenue Agency (CRA) regulation, please click here. You may save the Medical Expenses bulletin to your files for future reference.
            </p>
        </div>


        <div class="col l10 offset-l1" style="border: 2px solid #333; margin-bottom: 20px; margin-top: 40px; padding: 20px;">
            <form method="post">
                {% csrf_token %}

                <h5 class="col l12 center-align" style="text-decoration: underline;">Health Spending Account</h5>

                <p class="col l12" style="margin-bottom: 25px; margin-top: 20px;">
                    Total Credits Remaining : {{ request.user.hsa_remaining }}
                </p>

                <div class="input-field col l12">
                    {{ form.hsa_optional }}
                    <label for="id_hsa_optional">Current Health Spending Account selection</label>
                </div>


                <p class="col l12" style="margin-bottom: 20px; margin-top: 10px;">
                    Total Current Health Spending Account : <span id='hsa_optional_input'>{{ request.user.hsa_optional }}</span>
                </p>

                <p>
                  <label>
                      {% if request.user.opt_out_bool %}
                        <input name="chk" checked type="checkbox" />
                      {% else %}
                        <input name="chk" type="checkbox" />
                      {% endif %}
                      <span>Select the checkbox if benefit credits provided are insufficient to fund medical/dental expenses that are not covered by the base plan. Human Resources will contact you regarding your HSA selection.</span>
                  </label>
                </p>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="col l12 valign-wrapper" style="margin-top: 20px;">
                            <p class="red-text" style="font-size: 16px;">
                                ** {{ error }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if err_msg %}
                    <p class="col l12 red-text" style="margin-top: 20px">** {{ err_msg }}</p>
                {% endif %}

                <div class="col l12" style="padding: 0px; margin-top: 30px;">
                    <a href="{% url 'home:enrolment-form2' %}" class="btn waves-effect waves-light" style="">Back
                    </a>

                    <button type="submit" name="next" value="next" class="btn waves-effect waves-light black" style="">Next
                    </button>

                    <a href="{% url 'home:logout' %}" class="btn waves-effect waves-light red" style="">Logout
                    </a>
                </div>
            </form>
        </div>

        <div class="col l12 grey white-text" style="margin-top: 40px; padding: 20px;">
            <h5>When selecting your HSA please remember the following:</h5>


            <p>
                1. Funds not claimed by March 31, 2019 will be forfeited.
            </p>

            <p>
                2. As long as $50 is deposited, claims for which you are not fully reimbursed can be carried forward to the following plan year.
            </p>

            <p>
                3. Benefit credits not allocated to a HSA will be received in the form of taxable income.
            </p>
        </div>


    </div>
{% endblock %}



{% block script %}
    <script>
        $(document).ready(function(){

            $('.datepicker').datepicker({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                format: 'yyyy-mm-dd',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        });


        $(document).ready(function(){
            $('select').formSelect();
         });



         $('input[name="chk"]').change(function(){
            if($('input[name="chk"]').is(':checked'))
            {
                $('input[name=hsa_optional]').prop('disabled', true);
            }else
            {
                $('input[name=hsa_optional]').prop('disabled', false);
            }

         });


         $(document).ready(function(){
            if($('input[name="chk"]').is(':checked'))
            {
                $('input[name=hsa_optional]').prop('disabled', true);
            }else
            {
                $('input[name=hsa_optional]').prop('disabled', false);
            }

         });


         $('input[name="hsa_optional"]').change(function(){
            var hsa_optional = $('input[name="hsa_optional"]').val();


            $('#hsa_optional_input').html(hsa_optional);

         });

    </script>
{% endblock %}













