{% extends 'base.html' %}

{% block title %}Home | DMASL{% endblock %}

{% block current_page %}Home{% endblock %}

{% block body %}
    <div class="col l12 white" style="padding: 20px;">

        {% if request.user.is_authenticated %}

            <p>
                Logged in USER ID: {{ request.user.username }}
            </p>

            <br>

            <p>
                <a class="btn white-text" href="{% url 'home:enrolment-form2' %}">Enrolment Application</a>
            </p>

            <br>

            <p>
                <a class="btn white-text red" href="{% url 'home:logout' %}">Logout</a>
            </p>
        {% else %}
          <div class="col l12 white" style="padding: 20px;">
            <p>
                <h3>Test URLS</h3>
                <ul>
                  <li><a href="/webmaster_admin">Webmaster Backoffice-Admin</li>
                  <li><a href="/staff/login">DMASL Backoffice-Admin</li>
                  <li><a href="/testorg/">Test Organization</li>
                  <li><a href="/testorg/admin/login">Test Organization Backoffice-Admin</li>

            </p>
        {% endif %}

    </div>
{% endblock %}
