{% extends 'org_admin_base.html' %}

{% block title %}ORGANIZATION MEMBER | Admin DMASL{% endblock %}

{% block left_menu %}

    <div id="left-sidebar-menu" class="collection col s12 m12 l12" style="margin-top: 200px; padding: 0px;">
        <a href="{% url 'home:org-admin-home' org_short_name=org_found.org_short_name %}" class="collection-item">Home</a>
        <a href="{% url 'home:org-member-add' org_short_name=org_found.org_short_name %}" class="collection-item">Add member</a>
        <a href="{% url 'home:org-member-view' org_short_name=org_found.org_short_name %}" class="collection-item active">View member</a>
    </div>
{% endblock %}


{% block admin_content %}


<div class="col s12 m12 l12">
    <h5 class="col s12 m12 l12" style="text-decoration: underline; padding: 0px;">Total {{ members_count }} Member found in {{ org_found.org_short_name | upper }}: </h5>

    <!--<div class="col l12 m12 l12" style="padding: 0px; margin-top: 10px; margin-bottom: 10px;">
        <form method="post">
            {% csrf_token %}
            <button name="export_csv" value="export_csv" type="submit" class="btn red">Export to csv</button>
        </form>
    </div>-->

    {% if members %}
    <table class="col s12 m12 l12 centered responsive-table striped" style="margin-bottom: 20px; margin-top: 20px;">
        <thead class="red white-text">
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>ORG</th>
                <th>HSA Optional</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for member in members %}
                <tr>
                    <td>{{ member.username }}</td>
                    <td>{{ member.first_name | title }} {{ member.last_name| title }}</td>
                    <td>{{ member.org.org_short_name | upper }}</td>
                    <td>{{ member.hsa_optional }}</td>
                    <td>{{ member.is_active }}</td>
                    <td>
                        <a href="{% url 'home:org-member-detail' org_short_name=member.org.org_short_name user_id=member.username %}" class="btn">Detail</a>
                    </td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
    {% else %}
        <p>No member found!</p>
    {% endif %}
</div>



{% endblock %}
