{% extends 'staff_base.html' %}

{% block title %}Reset Password | STAFF DMASL{% endblock %}

{% block left_menu %}

    <div id="left-sidebar-menu" class="collection col s12 m12 l12" style="margin-top: 200px; padding: 0px;">
        <a href="{% url 'staff:staff-home' %}" class="collection-item">Home</a>
        <a href="{% url 'staff:org' %}" class="collection-item">Organizations</a>
        <a href="{% url 'staff:member' %}" class="collection-item active">Members</a>

    </div>
{% endblock %}


{% block admin_content %}

<h4 class="col l10 offset-l1" style="margin-top: 10px; text-decoration: underline;">Reset Password - User ID: {{ member.username }}</h4>


<form class="col l10 offset-l1" method="post" style="margin-top: 10px; margin-bottom: 30px;">
    {% csrf_token %}

    <div class="input-field col l12">
        {{ form.new_password1 }}
        <label for="id_new_password1">Password</label>
    </div>

    <div class="input-field col l12">
        {{ form.new_password2 }}
        <label for="id_new_password2">Retype Password</label>
    </div>


    <div class="col s12 m12 l12 center-align">
        <p style="color: red; font-size: 20px;">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
        </p>
    </div>


    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="col s12 m10 offset-m1 l10 offset-l1 valign-wrapper" style="margin-top: 20px; background-color: red; height: 40px;">
                <p style="color: white; font-size: 16px;">
                    {{ error }}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col s12 m12 l12" style="margin-bottom: 20px; margin-top: 20px;">
        <button class="btn waves-effect waves-light black" type="submit" style="">Change password
        </button>

        <!-- <button onclick="fillPasswd()" class="btn waves-effect waves-light black" style="">Generate Password
        </button> -->

        <a href="{% url 'staff:detail-member' user_id=member.id %}" class="btn waves-effect waves-light black" style="">Back to user detail

        </a>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
        $(document).ready(function(){
            $('select').formSelect();
         });

         function password_generator( len ) {
             var length = (len)?(len):(10);
             var string = "abcdefghijklmnopqrstuvwxyz"; //to upper
             var numeric = '0123456789';
             var punctuation = '!@#$%&*?';
             var password = "";
             var character = "";
             var crunch = true;
             while( password.length<length ) {
                 entity1 = Math.ceil(string.length * Math.random()*Math.random());
                 entity2 = Math.ceil(numeric.length * Math.random()*Math.random());
                 entity3 = Math.ceil(punctuation.length * Math.random()*Math.random());
                 hold = string.charAt( entity1 );
                 hold = (password.length%2==0)?(hold.toUpperCase()):(hold);
                 character += hold;
                 character += numeric.charAt( entity2 );
                 character += punctuation.charAt( entity3 );
                 password = character;
             }
             password=password.split('').sort(function(){return 0.5-Math.random()}).join('');
             return password.substr(0,len);
         };

         function fillPasswd() {
           pass = password_generator(6);
           $('input[name="id_new_password1"]').val(pass);
           $('input[name="id_new_password2"]').val(pass);
         };

</script>
{% endblock %}
