{% extends 'staff_base.html' %}

{% block title %}MEMBER DETAIL | STAFF DMASL{% endblock %}

{% block left_menu %}

    <div id="left-sidebar-menu" class="collection col s12 m12 l12" style="margin-top: 200px; padding: 0px;">
        <a href="{% url 'staff:staff-home' %}" class="collection-item">Home</a>
        <a href="{% url 'staff:org' %}" class="collection-item">Organizations</a>
        <a href="{% url 'staff:member' %}" class="collection-item active">Members</a>

    </div>
{% endblock %}


{% block admin_content %}


<h4 class="col l10 offset-l1" style="margin-top: 10px; text-decoration: underline;">Member Details</h4>

<div class="col l10 offset-l1">
    <p>User ID: {{ member.username }}</p>
    <p>Organization:
        {% if member.org %}
            <a href="{% url 'staff:detail-org' org_id=member.org.id %}">{{ member.org.org_short_name | upper }}</a>
        {% else %}
            None
        {% endif %}
    </p>


    <p>Last Name: {{ member.last_name | title }}</p>
    <p>First Name: {{ member.first_name | title }}</p>
    <p>Middle Name: {{ member.middle_name | title }}</p>

    <p>Email: {{ member.email }}</p>
    <p>Password: ***** <a href="{% url 'staff:change-password' user_id=member.id %}">Reset Password</a> </p>

    <p>Job Rate: {{ member.salary_base }}</p>
    <p>Taxable Earnings: {{ member.salary_adjusted }}</p>
    <p>Total Benefit Credits: {{ member.hsa_annual_credits }}</p>
    <p>HSA Selected: {{ member.hsa_optional }}</p>
    <p>Benefit Credits Remaining: {{ member.hsa_remaining }}</p>
    <p>HSA Opt-out Option: {{ member.opt_out_bool| yesno:"Yes,No" }}</p>
    <p>Submitted: {{ member.submitted | yesno:"Yes,No"}}</p>
    <p>Join date: {{ member.join_date | date }}</p>
    <p>Additional info: {{ member.additional_info }}</p>
    <p>
        Active Member: {{ member.is_active | yesno:"Yes,No" }}
        <span style="margin-left: 10px;">
            {% if member.is_active %}
                <a href="{% url 'staff:activate-deactivate-account' user_id=member.id %}">Deactivate this account</a>
            {% else %}
                <a href="{% url 'staff:activate-deactivate-account' user_id=member.id %}">Activate this account</a>
            {% endif %}
        </span>
    </p>

    <p>
        Admin Staff: {{ member.is_staff |yesno:"Yes,No" }}
        <span style="margin-left: 10px;">
            {% if member.is_staff %}
                <a href="{% url 'staff:activate-deactivate-staff' user_id=member.id %}">Remove this user from Admin Staff</a>
            {% else %}
                <a href="{% url 'staff:activate-deactivate-staff' user_id=member.id %}">Set this user as Admin Staff</a>
            {% endif %}
        </span>
    </p>


    <p class="col l12" style="margin-top: 30px; padding: 0px;">
        <a class="btn" href="{% url 'staff:edit-member' user_id=member.id %}">Edit This profile</a>
        <a style="margin-left: 20px;" class="btn red" onclick="return confirm('Confirmation: Are you sure you want to delete this user?')" href="{% url 'staff:delete-member' user_id=member.id %}">Delete This User</a>
    </p>
</div>

{% endblock %}
