{% extends 'staff_base.html' %}

{% block title %}EDIT ORGANIZATION | STAFF DMASL{% endblock %}

{% block left_menu %}

    <div id="left-sidebar-menu" class="collection col s12 m12 l12" style="margin-top: 200px; padding: 0px;">
        <a href="{% url 'staff:staff-home' %}" class="collection-item">Home</a>
        <a href="{% url 'staff:org' %}" class="collection-item active">Organizations</a>
        <a href="{% url 'staff:member' %}" class="collection-item">Members</a>
    </div>
{% endblock %}


{% block admin_content %}
    <h4 class="col l10 offset-l1" style="margin-top: 40px; text-decoration: underline;">Edit Organization: {{ org.org_short_name | upper }}</h4>

    <form class="col l10 offset-l1" method="post" enctype="multipart/form-data" style="margin-top: 10px; margin-bottom: 30px;">
        {% csrf_token %}

        <div class="input-field col l12">
            <i class="material-icons prefix">insert_link</i>
            {{ form.org_url }}
            <label for="id_org_url">Organization Link</label>
        </div>

        <div class="input-field col l12">
            <i class="material-icons prefix">child_care</i>
            {{ form.org_full_name }}
            <label for="id_org_full_name">Full name</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">card_travel</i>
            {{ form.contract_holder }}
            <label for="id_contract_holder">Contact holder</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">assistant_photo</i>
            {{ form.class_type }}
            <label for="id_class_type">Class type</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">confirmation_number</i>
            {{ form.policy_num }}
            <label for="id_policy_num">Policy number</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">account_balance</i>
            {{ form.policy_agency }}
            <label for="id_policy_agency">Policy agency</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">date_range</i>
            {{ form.date_fiscal_start }}
            <label for="id_date_fiscal_start">Date fiscal start</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">date_range</i>
            {{ form.date_fiscal_end }}
            <label for="id_date_fiscal_end">Date fiscal end</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">add_box</i>
            {{ form.num_pay_periods }}
            <label for="id_num_pay_periods">Number pay periods</label>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">date_range</i>
            {{ form.enrolment_period }}
            <label for="id_enrolment_period">Enrolment period (2017-2018)</label>
        </div>

        <div class="file-field input-field col l6">
            <div class="btn">
                <span>Logo</span>
                {{ form.logo }}
            </div>

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class="input-field col l6">
            <i class="material-icons prefix">email</i>
            {{ form.admin_email }}
            <label for="id_admin_email">Admin Email</label>
        </div>

        <div class="input-field col l12">
            <i class="material-icons prefix">ac_unit</i>
            {{ form.text_block_1 }}
            <label for="text_block_1">Text for Information Summary</label>
        </div>

        <div class="input-field col l12">
            <i class="material-icons prefix">ac_unit</i>
            {{ form.text_block_2 }}
            <label for="text_block_2">Text for Printout top</label>
        </div>


        <div class="input-field col l12">
            <i class="material-icons prefix">ac_unit</i>
            {{ form.text_block_3 }}
            <label for="text_block_3">Text for Printout bottom</label>
        </div>

        <div class="input-field col l12">
            <i class="material-icons prefix">ac_unit</i>
            {{ form.text_block_4 }}
            <label for="text_block_4">Text for Enrolment Closed</label>
        </div>

        <div class="input-field col l12">
            <i class="material-icons prefix">ac_unit</i>
            {{ form.misc_1 }}
            <label for="id_misc_1">Internal Notes</label>
        </div>


        <div class="input-field col l12">
            <p class="left">
                <label>
                    {% if org.salary_adjustment %}
                        <input name="salary_adjustment" type="checkbox" checked class="filled-in" />
                    {% else %}
                        <input name="salary_adjustment" type="checkbox" class="filled-in" />
                    {% endif %}
                    <span>Salary adjustment</span>
                </label>
            </p>

            <p class="left" style="margin-left: 40px;">
                <label>
                    {% if org.insufficient_benefit_credits %}
                        <input name="insufficient_benefit_credits" type="checkbox" checked class="filled-in" />
                    {% else %}
                        <input name="insufficient_benefit_credits" type="checkbox" class="filled-in" />
                    {% endif %}
                    <span>Insufficient benefit credits</span>
                </label>
            </p>
            <p class="left" style="margin-left: 40px;">
                <label>
                    {% if org.enrollment_closed %}
                        <input name="enrollment_closed" type="checkbox" checked class="filled-in" />
                    {% else %}
                        <input name="enrollment_closed" type="checkbox" class="filled-in" />
                    {% endif %}
                    <span>Enrollment Closed</span>
                </label>
            </p>
        </div>

    </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="col s12 m10 offset-m1 l10 offset-l1 valign-wrapper" style="margin-top: 20px; background-color: red; height: 40px;">
                    <p style="color: white; font-size: 16px;">
                        {{ error }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="col s12 m12 l12" style="margin-bottom: 20px; margin-top: 20px;">
            <button class="btn waves-effect waves-light black" type="submit" style="">Update
            </button>
        </div>
    </form>

{% endblock %}

{% block script %}
<script>

    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            yearRange: 100,
        });
    });

/*
    $(document).ready(function(){

        $('.datepicker').datepicker({
            selectMonths: true, // Creates a dropdown to control month
            //selectYears: 2, // Creates a dropdown of 15 years to control year,
            yearRange: 10,
            today: 'Today',
            format: 'yyyy-mm-dd',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    });
*/
</script>
{% endblock %}
