{% extends 'staff_base.html' %}

{% block title %}ORGANIZATION MEMBER | STAFF DMASL{% endblock %}

{% block left_menu %}

    <div id="left-sidebar-menu" class="collection col s12 m12 l12" style="margin-top: 200px; padding: 0px;">
        <a href="{% url 'staff:staff-home' %}" class="collection-item">Home</a>
        <a href="{% url 'staff:org' %}" class="collection-item active">Organizations</a>
        <a href="{% url 'staff:member' %}" class="collection-item">Members</a>

    </div>
{% endblock %}


{% block admin_content %}


<div class="col s12 m12 l12">
    <h5 class="col s12 m12 l12" style="text-decoration: underline; padding: 0px;">Total {{ members_count }} Member found in {{ org.org_short_name | upper }}: </h5>

    <div class="col l12 m12 l12" style="padding: 0px; margin-top: 10px; margin-bottom: 10px;">
        <form method="post">
            {% csrf_token %}
            <button name="export_csv" value="export_csv" type="submit" class="btn red">Export to csv</button>
        </form>
    </div>

    <div class="page-links">
          {% if page.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page.paginator.page_range %}
            {% if page.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page.paginator.num_pages }}">Last</a>
          {% endif %}
    </div>
    <table class="col s12 m12 l12 centered responsive-table striped" style="margin-bottom: 20px; margin-top: 20px;">
        <thead class="red white-text">
            <tr>
                <th>User ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>ORG</th>
                <th>HSA Selected</th>
                <th>Submitted</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for member in page.object_list %}
                <tr>
                    <td>{{ member.username }}</td>
                    <td>{{ member.last_name| title }}</td>
                    <td>{{ member.first_name | title }}</td>
                    <td>{{ member.org.org_short_name | upper }}</td>
                    <td>{{ member.hsa_optional  }}</td>
                    <td>{{ member.submitted | yesno:"Yes,No" }}</td>
                    <td>
                        <a href="{% url 'staff:detail-member' user_id=member.id %}" class="btn">Detail</a>
                    </td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
</div>



{% endblock %}
